{{>header}}
{{>navbar}}
 <section class="container my-3">
        <h2>Add New User</h2>
        <form method= "get">
            
           <div class="mb-3">
            <input class="form-control" name="name" placeholder="Enter your name">
        </div>
         <div class="mb-3">
            <input class="form-control" name="adress" placeholder="Enter your address">
        </div>
            <div class="mb-3">
            <input class="form-control" name="phone" placeholder="Enter your phone">
        </div> 
            
              <div class="mb-3">
            <input class="form-control" name="accNum" placeholder="Enter your accNum">
        </div>
                 <div class="mb-3">
            <input class="form-control" name="intialbalance" placeholder="Enter your intialbalance">
        </div>
            <div class="btn-3">
                <button class="btn btn-primary">Add</button>
            </div>
        </form>
    </section>
{{>footer}}