{{>header}}
{{>navbar}}
  <form method="get">
   
        <div class="btn-3">
          <label class="mt-4">Value</label>
          <input name="value"class=" form-control w-25">
            
          
        </div>
        <div class="btn-3">
          <button class="btn btn-success my-3">Done</button>
        </div>
      </form>
{{>footer}}